<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://media.contentapi.ea.com/content/dam/news/www-ea/images/2022/09/ea-motive-new-title-teaser-16x9-featured.jpg.adapt.crop191x100.628p.jpg"
    cardTitle="Novo homem de ferro"
    cardDescription="Marvel Anuncia Novo homeme de ferro"
    >

    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    cardTitle="Nova serie anunciada"
    photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Marvel-tv-logo.svg/2560px-Marvel-tv-logo.svg.png"
    >

    </app-small-card>

    <app-small-card
    cardTitle="Nova serie anunciada"
    photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Marvel-tv-logo.svg/2560px-Marvel-tv-logo.svg.png"
    >

    </app-small-card>

    <app-small-card
    cardTitle="Nova serie anunciada"
    photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Marvel-tv-logo.svg/2560px-Marvel-tv-logo.svg.png"
    >

    </app-small-card>
  </div>

</div>
